package ${package};

import cn.chuanz.orm.datapersist.MapTable;
import cn.chuanz.orm.datapersist.fieldannotation.FieldAuto;
import cn.chuanz.orm.datapersist.fieldannotation.FieldChar;
import cn.chuanz.orm.datapersist.fieldannotation.FieldClob;
import cn.chuanz.orm.datapersist.fieldannotation.FieldDate;
import cn.chuanz.orm.datapersist.fieldannotation.FieldKey;
import cn.chuanz.orm.datapersist.fieldannotation.FieldNumber;
import cn.chuanz.orm.datapersist.fieldannotation.FieldString;
import cn.chuanz.orm.datapersist.fieldannotation.FieldBigNumber;
 
public class ${table.tableNameUp} extends MapTable{
	public static final String TABLE_NAME = "${table.tableName}"; 
	
#foreach($field in ${table.fields})
	/**
	 * ${field.fieldComment}
	 */
#if($field.IfKey)
	@FieldKey
#end
#if($field.FieldAutoIncreace)
	@FieldAuto
#end
	${field.FieldAnnot}
	public static final String f_${field.fieldName} = "${field.fieldName}";
	
#end
	 
	private ${table.tableNameUp}(){}
	private static ${table.tableNameUp} instanceObj = null;
	public static ${table.tableNameUp} instance(){
		if(instanceObj == null){
			instanceObj = new ${table.tableNameUp}();
		}
		return instanceObj;
	}
}
 